h1{
	color: #6fbb9a;
	text-align: center ;
	font-size: 250%;
}
h2{
	color: #6fbb9a;
	border: #94c8b1 1px dotted;
	border-left: #d0e35b 10px solid;
	padding: 5px 20px;
	margin-bottom: 0;
    a:link {color:#FF0000;} 
    a:visited {color:#00FF00;} 
    a:hover {color:#FF00FF;}
    a:active {color:#0000FF;}
}
h3{
	color: #6fbb9a;
	border: #94c8b1 1px dotted;
	border-left: #d0e35b 10px solid;
	padding: 5px 20px;
	margin-bottom: 0;
    a:link {color:#FF0000;} 
    a:visited {color:#00FF00;} 
    a:hover {color:#FF00FF;}
    a:active {color:#0000FF;}
}
body{
	background-position: center;
	background-color: #fbf9cc;
	background-image: url('your-image.png'); /* 請將 your-image.png 換成你的圖片檔案名稱 */
	background-size: 600px ;
	background-repeat: no-repeat;
	background-attachment: fixed; 
}
#wrap{
	width: 798px;
	margin: 40px auto;
	padding: 40px 80px;
	border: #f6bb9e 1px solid;
	background-color: #fff;
}
#top
{
	position:fixed;
	bottom:5px;
	right:5px;
}

